body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: #870b0b;
    font-family: 'Quicksand', sans-serif;
}

.sensorSquare,
#temperatureValue,
#humidityValue,
.graph-info {
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #555555;
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    flex-grow: 1;
}

.logo {
    width: 150px;
    height: auto;
}

.refresh-container {
    flex-shrink: 0;
}

.refresh {
    width: 30px;
    height: auto;
}

.sensorSquare {
    width: 29vw;
    height: 35vh;
    border: 1px solid black;
    margin: 50px 20px 150px 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    background-color: #778899;
    border-radius: 40px;
    box-shadow: 32px 32px 16px rgba(0, 0, 0, 0.5);
    position: relative;
}

.collapsible {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    outline: none;
    position: relative;
}

.graph-button {
    width: 100%;
    height: 100%;
}

.collapsible:active,
.collapsible:focus {
    outline: none;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 40px 40px;
}

.collapsible.active + .content {
    display: block;
}

.graph-info {
    font-size: 1em;
}

#temperatureValue,
#humidityValue {
    font-size: 10em;
}

#lastFetchedContainer {
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    display: inline-block;
}

#lastFetchedDateTime {
    font-weight: bold;
    margin-left: 5px;
}

.chart-container {
    width: 25vw;
    height: 40vh;
    margin-top: 175px;
    display: inline-block;
}

canvas {
    border: 1px solid black;
    border-radius: 40px; /* Adjusted border-radius to match the sensor squares */
    background-color: #bbc1c8;
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.5);
}
